@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  background: url(https://t3.ftcdn.net/jpg/01/15/03/38/360_F_115033825_CmHuh01QvB7T8btaOv0MK0WaKLZavdXx.jpg);
  main {
    position: absolute;
    top: 58.13px;
    width: 100%;
    color: white;
    background-size: 100% 100%;
    object-fit: cover;
    backdrop-filter: blur(100px);
    min-height: 100vh;

    .createActors {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 32px;
      gap: 36px;
      form {
        border: 2px solid;
        padding: 12px 16px;
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        input {
          background-color: transparent;
          border: 0px;
          border-bottom: 2px solid white;
          color: white;
          width: 400px;
          &::placeholder {
            color: white;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }

      input[type="submit"] {
        background-color: black;
        color: #f1f1f1;
        width: 118px !important;
        padding: 8px 16px;
        border-radius: 6px;
        border: 0.5px solid black;
        &:hover {
          border: 0.5px solid white;
        }
      }
    }
    .actors {
      padding: 16px;
      display: flex;
      flex-direction: column;
      .actorListTitle {
        width: 100%;
        h1 {
          margin: 0px;
          padding: 0px 8px;
          border-left: 6px solid yellow;
          margin-bottom: 32px;
          float: left;
        }
      }

      .actorList {
        display: grid;
        gap: 15px;
        grid-template-columns: auto auto auto auto auto auto;
        justify-items: center;
        .actor {
          width: 172px;
          .foto {
            width: 172px;

            img {
              height: 172px;
              width: 100%;
              border-radius: 360px;
            }
          }

          .about {
            display: flex;
            justify-content: center;
            p {
              font-size: 18px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
