footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  .footerTop {
    .socialMedia {
      margin: 16px 0px;
      display: flex;
      gap: 10px;
      i {
        font-size: 26px;
      }
    }
  }

  .footerBottom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 16px;
    justify-content: center;
    p {
      margin: 2px;
    }
  }
}
