main {
  background-color: black;
  width: 100%;
  height: auto;
  padding: 83.13px 32px;
  h1 {
    margin: 0px;
    color: white;
    margin-bottom: 12px;
    padding-left: 26px;
  }
  .films {
    display: grid;
    grid-template-columns: 145px 145px 145px 145px 145px;
    gap: 24px;

    justify-content: center;
    padding: 12px 36px;
    .createFilm {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      background-color: rgb(37, 36, 36);

      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 62px;
          color: white;
        }
      }
    }
    .film {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      background-color: rgb(37, 36, 36);
      .bookMark {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: opacity(70%);
        i {
          position: absolute;
          color: white;
          z-index: 3;
          display: block;
        }
        .layer2 {
          position: absolute;
          height: 40px;
          width: 0px;
          border: 15px solid black;
          border-bottom: 7px solid transparent;
          top: 0px;
        }

        .layer1 {
          top: 2px;
          position: relative;
          height: 40px;
          width: 0px;
          border: 15px solid gray;
          border-bottom: 7px solid transparent;
        }

        &:hover > .layer2 {
          border: 15px solid #3e3e3e;
          border-bottom: 7px solid transparent;
        }
      }
      .photo {
        height: 220px;
        background-color: gray;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .imdb {
        display: flex;
        gap: 5px;
        margin-left: 6px;
        i {
          display: block;
          height: 2px;
          color: yellow;
        }
      }
      .name {
        margin-left: 6px;
        padding-bottom: 6px;
      }
    }
  }
}
