* {
  box-sizing: border-box;
}
.container {
  margin: auto !important;
}

@media (max-width: 1400px) {
  .container {
    width: 1140px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px !important;
  }
  .actorList {
    grid-template-columns: auto auto auto auto auto !important ;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px !important;
  }

  .films {
    grid-template-columns: 150px 150px 150px 150px !important;
  }
  .actorList {
    grid-template-columns: auto auto auto auto !important ;

    .actor {
      width: 162px !important;
      .foto {
        width: 162px !important;
        img {
          height: 162px !important;
        }
      }
    }
  }

  .filmDetails {
    .headSection {
      width: 600px !important;
    }
    .middleSection {
      .filmPortre {
        width: 160px !important;
      }
      .filmTrailer {
        width: 440px !important;
        height: 260px !important;
      }
    }

    .bottomSection {
      width: 600px !important;
      .filmAbout {
        .about {
          width: 500px !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px !important;
  }

  .actorList {
    grid-template-columns: auto auto auto !important ;
    .actor {
      width: 152px !important;
      .foto {
        width: 152px !important;
        img {
          height: 152px !important;
        }
      }
    }
  }

  .films {
    grid-template-columns: 160px 160px 160px !important;
  }

  .createFilm {
    form {
      grid-template-columns: 250px 250px !important;
    }
  }

  .filmDetails {
    .headSection {
      width: 485px !important;
      font-size: 12px;
      .firstSection {
        h1 {
          font-size: 33px !important;
        }
      }
    }
    .middleSection {
      .filmPortre {
        width: 140px !important;
      }
      .filmTrailer {
        width: 340px !important;
        height: 220px !important;
      }
    }

    .bottomSection {
      width: 480px !important;
      font-size: 12px !important;

      .filmAbout {
        .about {
          width: 400px !important;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .films {
    grid-template-columns: 145px 145px 145px !important;
  }
  .actorList {
    grid-template-columns: auto auto auto !important ;
  }

  .createFilm {
    form {
      grid-template-columns: 272px !important;
      gap: 60px;
    }
  }

  .filmDetails {
    .headSection {
      width: 485px !important;
      font-size: 12px;
      .firstSection {
        h1 {
          font-size: 33px !important;
        }
      }
    }
    .middleSection {
      .filmPortre {
        width: 140px !important;
      }
      .filmTrailer {
        width: 340px !important;
        height: 220px !important;
      }
    }

    .bottomSection {
      width: 480px !important;
      font-size: 12px !important;

      .filmAbout {
        .about {
          width: 400px !important;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 100% !important;
  }

  .films {
    grid-template-columns: 170px 170px !important;
  }

  .actorList {
    grid-template-columns: auto auto auto !important ;
    .actor {
      width: 120px !important;
      .foto {
        width: 120px !important;

        img {
          height: 120px !important;
        }
      }
    }
  }

  .filmDetails {
    .headSection {
      width: 380px !important;
      font-size: 12px;
      .firstSection {
        h1 {
          font-size: 30px !important;
        }
      }

      .lastSection {
        display: none;
      }
    }
    .middleSection {
      .filmPortre {
        display: none !important;
      }
      .filmTrailer {
        width: 380px !important;
        height: 200px !important;
      }
    }

    .bottomSection {
      width: 380px !important;
      font-size: 11px !important;

      .filmAbout {
        .about {
          width: 400px !important;
        }
      }
    }
  }

  .createActors {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    form {
      grid-template-columns: 250px !important;
      gap: 30px !important;
    }
  }
}
@media (max-width: 440px) {
  .actorList {
    grid-template-columns: auto auto !important ;
  }
  .films {
    grid-template-columns: 200px !important;
  }

  .filmDetails {
    .headSection {
      width: 310px !important;
      font-size: 16px;
      .firstSection {
        h1 {
          font-size: 42px !important;
        }
      }

      .lastSection {
        display: none;
      }
    }
    .middleSection {
      .filmPortre {
        display: none !important;
      }
      .filmTrailer {
        width: 320px !important;
        height: 220px !important;
      }
    }

    .bottomSection {
      width: 310px !important;
      font-size: 9px !important;

      .filmAbout {
        .about {
          width: 250px !important;
        }
      }
    }
  }

  .createActors {
    form {
      input {
        width: 90% !important;
      }
    }
  }
}

@media (max-width: 340px) {
  .actorList {
    grid-template-columns: auto !important ;
  }

  .filmDetails {
    .headSection {
      width: 100% !important;
      font-size: 9px;
      .firstSection {
        h1 {
          font-size: 26px !important;
        }
      }

      .lastSection {
        display: none;
      }
    }
    .middleSection {
      .filmPortre {
        display: none !important;
      }
      .filmTrailer {
        width: 100% !important;
        height: 160px !important;
      }
    }

    .bottomSection {
      width: 100% !important;
      font-size: 9px !important;

      .filmAbout {
        .about {
          width: 250px !important;
        }
      }
    }
  }
}
