* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100px;
    .logo {
      padding: 22px;
      display: flex;
      align-items: center;
    }

    .searchInput {
      width: 50%;
      display: flex;
      align-items: center;
      input {
        height: 58px;
        border-right: 0px;
        width: 90%;
        border-radius: 8px 0px 0px 8px;
        padding: 6px;
        font-size: 22px;
        border: 3px solid black;
      }
      input:focus-visible {
        outline: none;
        border: 3px solid orange;
      }
      .searchBtn {
        width: 78px;
        height: 58px;
        background-color: white;
        border: 3px solid black;
      }
    }

    .navBar {
      display: flex;
      align-items: center;
      padding: 22px;
    }
  }
}
